

<div class='login'>
	<div class="header">
		<div>one<span>2</span>many</div>
	</div>
	<%= form_for @user, url:{controller: "sessions", action: "create"} do |f| %>
		<%= f.text_field :username, placeholder: "username", class: 'loginText', autofocus: true %><br>
		<%= f.password_field :password, placeholder: "password", class: 'loginText' %><br>
		<%= f.submit "Login", class: 'loginButton' %>
	<% end %>
	<div class='signupLink'>
		Not a user? <%= link_to "Signup", new_user_path %>
	</div>
</div>

