
<div class="grad"></div>

<div class='login'>
	<div class="header">
		<div>one<span>2</span>many</div>
	</div>
	<%= form_for @user do |f| %>
		<%= f.text_field :username, placeholder: "username", class: 'loginText', autofocus: true %><br>
		<%= f.password_field :password, placeholder: "password", class: 'loginText' %><br>
		<%= f.password_field :password_confirmation, placeholder: "confirm password", class: 'loginText' %><br>
		<div class='avatarButton'>avatar <%= f.file_field :avatar %></div>
		<%= f.submit "Signup", class: 'loginButton' %>
	<% end %><br>

	<%= link_to 'Cancel', rooms_path, class: 'cancelButton' %>
</div>



<!-- <div class="body"></div>
	<div class="grad"></div>
	<div class="header">
		<div>one<span>2</span>many</div>
	</div>
	<br>
	<div class="login">
			<input type="text" placeholder="username" name="user"><br>
			<input type="password" placeholder="password" name="password"><br>
			<input type="button" value="Login">
	</div> -->