
<div class='mainHeader'>
	<%= @room.topic %>
</div>
<div class='postDate'>
	<%= @room.created_at.strftime("Created on %A at %l:%M%P") %>
</div>
<div class='roomImageContainer'>
	<img><%= link_to(image_tag(@room.photo.url(:medium)), @room) %></img>
</div>
<hr>
<p class='headline'>
	<%= @room.headline %>
</p>
<hr>

	<% @room.comments.each do |r| %>
		<%= r.comment_text %><br>
	<% end %>

<br><br>

<%= link_to "Add Comment", new_room_comment_path(@room) %>

<br><br>

<%= link_to 'Back to Rooms', rooms_path %>