
<div class='topic'>
	<%= @room.topic %>
</div>
<div class='postDate'>
	<%= @room.created_at.strftime("Created on %A at %l:%M%P") %>
</div>
<p class='headline'>
	<%= @room.headline %>
</p>
<hr>
<div class="allComments">
	<div id=""
	<% @room.comments.order('created_at DESC').each do |r| %>
		<div class="oneComment">
			<%= r.comment_text %>
		</div>
	<% end %>
</div>

<br><br>

<%= link_to "Add Comment", new_room_comment_path(@room) %>

<br><br>

<%= link_to 'Back to Rooms', rooms_path %>

